.why-choose-us {


    .choose-div {

        width: 100%;
        height: auto !important;
        padding-top: 20px;

        // border-bottom: 1px solid #333333;
        // background-color: aqua;
        .effective-div {
            width: 1266px;
            height: 250px;
            top: 2602px;
            left: 50px;
            background-color: #333333;
            margin: auto;
            gap: 0px;
            padding-top: 30px !important;
            border-radius: 10px;
            opacity: 0px;
            padding: 10px;


            .paargaraph-head {
                width: 272px;
                height: 19px;
                top: 2635px;
                left: 100px;
                // background-color: aqua;
                gap: 0px;
                opacity: 0px;
                margin-left: 40px;
                text-align: left;


                p {
                    font-family: "Inter";
                    font-size: 16px !important;
                    font-weight: 500 !important;

                    line-height: 19.36px !important;
                    text-align: left !important;
                    background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                    -webkit-background-clip: text !important;
                    -webkit-text-fill-color: transparent !important;

                }




            }

            #why-mainhead {
                width: 742px !important;
                height: 36px !important;
                top: 2661px;
                //    background-color: #05CBF2 !important;
                left: 100px !important;

                margin-left: 40px;
                padding-top: 10px;
                gap: 0px;
                opacity: 0px;

                p {
                    font-family: "Inter" !important;
                    font-size: 30px !important;
                    font-weight: 400 !important;
                    line-height: 36.31px !important;
                    color: #F6F6F6 !important;
                    text-align: left;


                }
            }

            .choooses {
                display: flex;
                width: 96%;
                margin: auto;
                margin-top: 45px;
                height: 100px;
                text-align: center;

                .whyy-chossses {
                    width: 240px;
                    height: 41px;
                    margin: auto;
                    padding: 6px;
                    border: 1px solid #05CBF2;
                    background-color: #333333;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        font-family: "Inter";
                        font-size: 16px;
                        background-color: #333333;
                        background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important;
                        font-weight: 400;
                        border: none;
                        line-height: 19.36px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }

        }
    }


    .headiing-whychoose {
        width: 100%;
        height: 450px;
        top: 2877px;
        // background-color: aqua;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        padding-top: 40px;

        .headd-box-whychoose {
            width: 200px;
            height: 40px;
            top: 2916px;
            left: 583px;
            text-align: center;
            padding: 6px;
            background-color: #333333;
            margin: auto;
            gap: 0px;
            opacity: 0px;

            p {
                text-align: center !important;
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 400;
                background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;

                line-height: 27px !important;


            }


        }

        .caard-why-choose {
            width: 88%;
            height: 350px;
            margin-top: 20px !important;
            margin: auto;
            // background-color: red;
            display: flex;
            gap: 20px;

            .caaard1 {
                width: 270px;
                height: 300px;
                margin: auto;
                top: 2991px;

                background-color: #333333;
                left: 100px;
                gap: 0px;
                opacity: 0px;

                .imaage-divv {
                    width: 270px;
                    height: 100px;
                    top: 2991px;
                    left: 100px;
                    background-color: #05CBF2;
                    gap: 0px;
                    opacity: 0px;

                }

                .headingg-div {
                    width: 230px;
                    margin: auto;
                    height: 21px;
                    //  padding: 29px !important;
                    padding-top: 30px !important;
                    left: 115px;
                    gap: 0px;
                    padding: 0px;
                    // background-color: #0554F2;

                    opacity: 0px;

                    p {
                        font-family: "Inter";
                        font-size: 17px;
                        font-weight: 400;
                        background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important;

                        line-height: 20.57px;
                        text-align: left;

                    }

                }

                .parag-divv {
                    width: 230px;
                    height: 84px;
                    top: 3173px;
                    left: 115px !important;
                    gap: 0px;
                    margin: auto;
                    padding-top: 40px;
                    // background-color: #05CBF2;
                    opacity: 0px;

                    p {
                        font-family: Inter;
                        font-size: 17px;
                        font-weight: 300;
                        line-height: 20.57px;
                        text-align: left;
                        color: #86868B;

                    }
                }
            }
        }

    }
    .misson-visionn{
        width: 100%;
        height: 450px;
        top: 2877px;
        // background-color: aqua;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        padding-top: 40px;
        .headd-box-whychoos{
            width: 200px;
            height: 40px;
            top: 2916px;
            left: 583px;
            text-align: center;
            padding: 6px;
            background-color: #333333;
            margin: auto;
            gap: 0px;
            opacity: 0px;

            p {
                text-align: center !important;
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 400;
                background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;

                line-height: 27px !important;


            }

          
        }

        .missson-contenttt{
            // background-color: #0554F2 !important;
            width: 88% !important;
            padding-top: 40px;
            margin: auto;
                .contentt-colum1{

                padding: 20px;
                    width: 540px;
                    // background-color: #05CBF2;
                    height: 250px;
                    margin: auto;
                    top: 3433px;
                    left: 121px;
                    gap: 0px;
                    border-radius: 10px;
                    border: 1px solid #05CBF2;
                    

                    opacity: 0px;
                  .imagegiff{
                    width: 24%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // background-color: #333333;
                    img{
                        text-align: left !important;
                        padding-top: 5px;
                        width: 50px;
                        height: 50px;
                        top: 3452px;
                        left: 139px;
                        gap: 0px;
                        opacity: 0px;

                       }

                       span{
                        font-family: "Poppins";
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 27px;
                        background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important;
                       

                       }
                  }
                      
                       p{
                        padding-top: 15px;
                    
                        font-family: "Poppins";
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 21px;
                            text-align: left;

                       }
                   
                }

        }
    }

    .our-stength{
        width: 100%;
        height: 450px;
        top: 2877px;
     
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        padding-top: 40px;
        // background-color: aqua;
        .headd-box-whychoos{
            width: 200px;
            height: 40px;
            top: 2916px;
            left: 583px;
            text-align: center;
            padding: 6px;
            background-color: #333333;
            margin: auto;
            gap: 0px;
            opacity: 0px;

            p {
                text-align: center !important;
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 400;
                background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;

                line-height: 27px !important;


            }
        }

        .employee-main{
            width: 1166px;
            height: 370px;
        
 
            // background-color: #86868B;
            margin: auto;
            border: 1px 0px 0px 0px;
            opacity: 0px;
             

            .employee-caard{
                width: 296px;
                height: 220px;
                top: 3882px;
                left: 200px;
                gap: 0px;
                border-radius: 20px;
                opacity: 0px;
                margin: 20px;
                margin: auto;
                background-color: #333333;
                text-align: center;
                padding: 75px;

                .p-texxt{
                    // background-color: #86868B;
                    width: 150px;
                    height: 60px;
                    margin: auto;
                   
                    p{
                        font-family: Poppins;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 30px;
                        text-align: center;
                        background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important;
        
                    }

                }
            }
        }

    }
    .our-products{

        width: 100%;
        height: auto !important;
      
        border: 1px 0px 0px 0px;
        opacity: 0px;
        padding-top: 40px;
        // background-color: aqua;
       
            .headd-box-whychoos{
                width: 200px;
                height: 40px;
                top: 2916px;
                left: 583px;
                text-align: center;
                padding: 6px;
                background-color: #333333;
                margin: auto;
                gap: 0px;
                opacity: 0px;
                p {
                    text-align: center !important;
                    font-family: "Poppins";
                    font-size: 18px;
                    font-weight: 400;
                    background: linear-gradient(to right, #05CBF2, #0554F2) !important;
                    -webkit-background-clip: text !important;
                    -webkit-text-fill-color: transparent !important;
    
                    line-height: 27px !important;
    
    
                }
       
          }

          .our-prod-contents{
            width: 90% !important;
            height: auto !important;
        //  border: 1px solid black;
            gap: 0px;
            border: 1px 0px 0px 0px;
            opacity: 0px;
            // background-color: aqua;
            padding-left: 40px;

            text-align: center;
            padding-top: 80px;
            margin: auto;
              .content-img-div{
                width: 80%;
                height: 61px;
                top: 4367px;
                left: 109px;
                // display: flex;
                flex-wrap: wrap;
                
                opacity: 0px;
                text-align: center;
                // background-color: rgb(26, 154, 111) !important;
                margin: auto;
                    .image1{
                        width: 124px;
                        height: 61px;
                        top: 4367px;
                        left: 109px;
                        gap: 0px;
                        opacity: 0px;
                        margin: 30px !important;
                    
                    }

                   

              }
          }
    }
    


    @media(min-width:300px) and (max-width:575px) {
        .whyy-chossses{
            margin-bottom: 12px !important;
        }

.choose-div{

                
width: 100% !important;
// background-color: aqua;
height: auto !important;
padding-top: 20px;
    .effective-div {
    width: 96% !important;
    // padding-bottom: 20px !important;
    height: 440px !important;
                  
 .paargaraph-head {
    width: 100% !important;
    height: 19px !important;
    margin: auto !important;
    /* margin-left: 40px; */
    text-align: center !important;

    p{
        text-align: center !important;
    }
}



#why-mainhead {
    width: 90% !important;
    height: auto !important;
    margin: auto !important;
      p {
        font-family: "Inter" !important;
        font-size: 25px !important;
       
        text-align: center !important;
    }
}
}

    
}
           
        
       



            .headiing-whychoose {
                width: 100% !important;
                // background: #0a0f0f !important; 
                height: auto !important;
                top: 2877px;
             
                gap: 0px;
                border: 1px 0px 0px 0px;
                opacity: 0px;
                padding-top: 40px;
            

                     .caard-why-choose {
                    width: 88% !important;
                    height: auto !important;
                  display: block !important;
                    margin-top: 20px !important;
                    margin: auto !important;
               
                }

             .caard-why-choose {
                .caaard1 {
                    width: 290px;
                    height: 310px;
                    margin: auto;
                    margin-top: 28px;
                    top: 2991px;
                    background-color: #333333;
                    left: 100px;
                    gap: 0px;
                    opacity: 0px;

               .imaage-divv {
                width: 290px;
                height: 100px !important;
                        top: 2991px;
                        left: 100px;
                        background-color: #05CBF2;
                        gap: 0px;
                        opacity: 0px;
                    }
                }

             
             }
            }

        
            .misson-visionn {
                width: 100%;
                height: auto !important;
                // background-color: #05CBF2 !important;
                top: 2877px;
                gap: 0px;
              
                border: 1px 0px 0px 0px;
                opacity: 0px;
                padding-top: 40px;

              .contentt-colum1 {
                 
                    height: auto !important;
                    margin-bottom: 20px !important;
                   
                }
            }

           .our-stength {
                width: 100%;
                // background: rgb(5, 5, 10);
                height: auto;
               
                margin: auto;
                .employee-main {
                    width: 100%;
                
                    height: auto;
                    padding: 19px;
                    margin: auto;
                    border: 1px 0px 0px 0px;
                    opacity: 0px;

             .employee-caard {
                        width: 296px;
                        height: 220px;
                        margin-top: 20px !important;
                           margin: auto;
                        background-color: #333333;
                        text-align: center;
                        padding: 75px;
                    }
                }
            }
        .our-products{
            // background-color: black;
            height: auto !important;
            width: 100%;
            margin: auto !important;
           
            .our-prod-contents {
                width: 50% !important;
                height: auto !important;
                // background: chocolate;
        
                opacity: 0px;
                text-align: center;
                padding-top: 50px;
                margin: auto !important;


               .content-img-div {
                   width: 0% !important;
                 height: auto; 
                    // background: black;
                    /* top: 4367px; */
                    /* left: 109px; */
                    margin: auto !important;
                     display: block;
                     .image1 {
                        width: 10px;
                        // /* background: darkorange; */
                        height: 100px;
                        top: 4367px;
                        left: 109px;
                        gap: 0px;
                        opacity: 0px;
                        margin: auto !important;
                        img{
                            width: 10% !important;
                          
                        }
                    }
                }

            }
        }


}
}


@media(min-width:576px) and (max-width:768px) {
    .whyy-chossses{
        // margin-bottom: 12px !important;
    }

.choose-div{

            
width: 100% !important;
// background-color: aqua;
height: auto !important;

padding-top: 20px;
.effective-div {
width: 96% !important;
// background-color: #0554F2 !important;
// padding-bottom: 20px !important;
 height: 260px !important;
//  padding: 20px !important; 

    .choooses{
        // background-color: aqua;
       margin-top: 60px !important;
    }
 
              
.paargaraph-head {
// width: 40% !important;
height: 19px !important;
margin: auto !important;
/* margin-left: 40px; */


p{
    text-align: center !important;
    font-size: 16px !important;
 
}
}



#why-mainhead {
  
height: auto !important;
margin: auto !important;

  p {
    font-family: "Inter" !important;
    font-size: 26px !important;
    text-align: center !important;
    width: 80% !important;
    // background-color: #05CBF2;
   
    margin: auto !important;
}
}
}


}
       
    
   



        .headiing-whychoose {
            width: 100% !important;
            // background: #0a0f0f !important; 
            height: auto !important;
            top: 2877px;
         
            gap: 0px;
            border: 1px 0px 0px 0px;
            opacity: 0px;
            padding-top: 40px;
        

                 .caard-why-choose {
                width: 88% !important;
                height: auto !important;
              display: block !important;
                margin-top: 20px !important;
                margin: auto !important;
           
            }

         .caard-why-choose {
            // background-color: red;
            display: flex !important;
            flex-wrap: wrap;
            .caaard1 {
                width: 290px;
                height: 310px;
                margin: auto;
             
                margin-top: 28px;
                top: 2991px;
                background-color: #333333;
                left: 100px;
                gap: 0px;
                opacity: 0px;

           .imaage-divv {
            width: 290px;
            height: 100px !important;
                    top: 2991px;
                    left: 100px;
                    background-color: #05CBF2;
                    gap: 0px;
                    opacity: 0px;
                }
            }

         
         }
        }

    
        .misson-visionn {
            width: 100%;
            height: auto !important;
            // background-color: #05CBF2 !important;
            top: 2877px;
            gap: 0px;
          
            border: 1px 0px 0px 0px;
            opacity: 0px;
            padding-top: 40px;

          .contentt-colum1 {
             
                height: auto !important;
                margin-bottom: 20px !important;
               
            }
        }

       .our-stength {
            width: 100%;
            // background: rgb(5, 5, 10);
            height: auto !important;
           
            margin: auto;
            .employee-main {
                width: 100% !important;
         
                height: auto !important;
                padding: 19px;
                margin: auto;
              

         .employee-caard {
                    width: 296px;
                    height: 220px;
                    margin-top: 20px !important;
                       margin: auto;
                    background-color: #333333;
                    text-align: center;
                    padding: 75px;
                }
            }
        }
    .our-products{
        height: auto !important;
        width: 100%;
        // background-color: black !important;
        margin: auto !important;
       
        .our-prod-contents {
            width: 10% !important;
            height: auto !important;
            margin: auto !important;
            // background: chocolate;
            text-align: center !important;
              .content-img-div {
         
                
                // background-color: #05CBF2;
                height: auto !important;
         
                display: flex;
                flex-wrap: wrap;
            
                margin: auto !important;
                .image1{
                    width: 100px !important;
                    img{
                        width: 10% !important;
                    }
                    // padding-left: 55px !important;
                }
            }























            padding-top: 50px;
            margin: auto !important;


           .content-img-div {
               width: 100% !important;
             height: auto; 
                // background: black;
                /* top: 4367px; */
                /* left: 109px; */
                margin: auto !important;
               
                 .image1 {
                    width: 100px;
                    // /* background: darkorange; */
                    height: 100px;
                    top: 4367px;
                    left: 109px;
                    gap: 0px;
                    opacity: 0px;
                    margin: auto !important;
                }
            }

        }
    }


}



    
